@model Online_Tourism_Portal.Models.Destinations

@{ Layout = null; }

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" href="~/css/india.css" type="text/css" />
    <title>Yeh Mera India ! </title>
    <link rel="Stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Registration/AutoComplete/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>


    <style type="text/css">
        #Button1 {
            border-style: none;
            border-color: inherit;
            border-width: medium;
            background-image: url("../../wwwroot/css/img/search.png");
            background-size: cover;
            background-color: aquamarine;
        }

        .state {
            height: 356px;
            margin-top: 23px;
            width: 1692px;
            margin-left: 46px;
        }

        .UNION {
            height: 193px;
        }
    </style>
    <style>
        * {
            box-sizing: border-box;
        }



        .topnav {
            overflow: hidden;
            background-color: #e9e9e9;
            font-size: 25px;
        }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                height: 61px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #2196F3;
                    color: white;
                }
    </style>




</head>
<body>
    <form id="form1" method="post" asp-action="Validate">


        <div class="topnav" style="width: 100%">
            <a class="active" href="/Registration/Home">Home</a>
            <a href="/Registration/Login">Login</a>
            <a href="/Registration/AboutIndia">About India </a>
            <a href="#contact">Contact</a>
            <a>
                <input type="search" value="@ViewData["Destinations"]" asp-controller="Registration" id="txtCustomer" name="destination" style="width:200px;height:40px;font-size:25px" placeholder="Search..."
                       Font-Overline="True" />
                <input type="hidden" id="hfCustomer" name="CustomerId" />
            </a>
            <a>
                <input type="submit" value="Search" style="width: 90px; height: 40px;font-size:25px" />
            </a>
            <a>
                Hello !!
            </a>

        </div>



        <div id="Image2">
            <div id="aboutIndia" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seriffont-weight bolder; font-style: normal; text-decoration: blink;">
                About India&nbsp;&nbsp; &nbsp;
            </div>
            <img ID="Image1" src="~/img/india.jpg" Style=" Height:600px; Width:100%" />
        </div>

        <div class="aboutText">
            <p>India is one of the oldest civilizations in the world with a kaleidoscopic variety and rich cultural heritage. It has achieved all-round socio-economic progress during the last 65 years of its Independence. India has become self-sufficient in agricultural production and is now one of the top industrialized countries in the world and one of the few nations to have gone into outer space to conquer nature for the benefit of the people. It covers an area of 32, 87,263 sq. km, extending from the snow-covered Himalayan heights to the tropical rain forests of the south. As the 7th largest country in the world, India stands apart from the rest of Asia, marked off as it is by mountains and the sea, which give the country a distinct geographical entity. Bounded by the Great Himalayas in the north, it stretches southwards and at the Tropic of Cancer, tapers off into the Indian Ocean between the Bay of Bengal on the east and the Arabian Sea on the west. As you travel, India offers a range of vast tourism choices, diverse in land and nature, people, tribes, cuisine, faiths, dance forms, music, arts, crafts, adventure, sport, spirituality, history; even these vary as you journey from one state to another. As a country, India has achieved all-round socio-economic progress in the last 70 years of independence. The change is clearly visible in the Tier I and Tier II cities. However, the fascinating aspect lies in the stark difference as you travel through the new and old parts of its cities. From world-class airports and hotels, luxurious shopping malls, restaurants, pubs and cafes to overcrowded streets and alleyways, in the same cities, filled with thousands of little shops offering every possible modern and ethnic product and native street food is a fascinating experience.</p>
        </div>
        <div class="facts">
            &nbsp;
            <label class="factI">FACTS ABOUT INDIA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
            &nbsp;<br />
            <br />
            <ul style="color:chocolate">
                <li>
                    When many cultures were only nomadic forest dwellers over 5000 years ago, Indians established Harappan culture in Sindhu Valley (Indus Valley Civilization) The name &nbsp; 'India' is derived from the River Indus, the valleys around which were the home of the early settlers.

                </li>
                <li>
                    The Aryan worshippers referred to the river Indus as the Sindhu.
                </li>
                <li>
                    Chess was invented in India.
                </li>
                <li>
                    Algebra, Trigonometry and Calculus are studies, which originated in India.
                </li>
                <li>
                    The 'Place Value System' and the 'Decimal System' were developed in India in 100 B.C.

                </li>
                <li>
                    India is the largest democracy in the world, the 7th largest Country in the world, and one of the most ancient civilizations.<br />
                </li>
                <li>
                    Ayurveda is the earliest school of medicine known to mankind.

                </li>
                <li>
                    The Father of Medicine, Charaka, consolidated Ayurveda 2500 years ago.

                </li>
                <li>
                    The oldest European church and synagogue in India are in the city of Cochin. They were built in 1503 and 1568 respectively.
                </li>
                <li>
                    Varanasi, also known as Benaras, was called "the Ancient City" when Lord Buddha visited it in 500 B.C., and is the oldest, continuously inhabited city in the world today.


                </li>

                <li>
                    Yoga has its origins in India and has existed for over 5,000 years.

                </li>
            </ul>
        </div>

        <div class="climate">

            <label class="climate1">
                &nbsp;&nbsp;
                <br />
                &nbsp;&nbsp; INDIAN CLIMATE
            </label>
            <br />
            <br />

            <Table ID="Table1" CellPadding="4" CellSpacing="20" Style="margin: 23px; margin-left: 45px; Width:1630px">

                <tr>
                    <td>


                        <Label style="color:cornflowerblue" ID="Label1">SUMMER</Label>



                        <img ID="Image3" src="~/img/summer.jpg" Style="margin-top: 18px;Height:463px; Width:827px " />

                        <Label ID="Label3" style="color:maroon ">During the three months from April to June it is summer in most parts of India.Generally in the month of April, many parts of India experiences high temperature. The normal temperature recorded in this time in generally 30°C. But at some places in the plateau region the temperature rises to 40°C and in the Himalayan mountain region, it remains near about 20°C.</Label>

                    </td>
                    <td>



                        <Label style="color:cornflowerblue" ID="Label2">WINTER</Label>



                        <img ID="Image10" src="~/img/winter.jpg" Style="margin-top: 19px;Height:463px; Width:827px " />



                        <Label ID="Label6" style="color:maroon ">During the period from December to February there is winter season in India. During this time clouds and dry North-East Monsoon passes over different regions of India and temperature is decreased considerably. In Himalayan area the temperature is much lower (between 5°C and 10°C). But sometimes cyclone (coming from the West) causes storm and rainfall which is known as Western disturbance.</Label>

                    </td>
                </tr>
                <tr Width="650">
                    <td>



                        <Label style="color:cornflowerblue" ID="Label7">MONSUN</Label>



                        <img ID="Image4" src="~/img/rainy.jpg" Style="margin-top: 18px;Height:463px; Width:827px " />


                        <Label ID="Label8" style="color:maroon ">The rainy season in India begins generally from the second week of July and continues up to the second week of October. From the second week of June humid monsoon enters various parts of India and causes rainfall everywhere in the state.</Label>


                    </td>
                    <td>



                        <Label style="color:cornflowerblue" ID="Label9">SPRING</Label>


                        <img src="~/css/img/spring.jpg" Style="margin-top: 18px;Height:463px; Width:827px "></>


                        <Label ID="Label12" style="color:maroon ">The advent of spring brings us the pleasant sound wind begins to blow. It refreshes our body and mind. The countryside appears to be adorned with green leaves and flowers. Birds sing and bees hum in the flower garden. Trees and creepers are covered with beautiful flowers. Bees hum all day long among them.</Label>




                    </td>
                </tr>
            </Table>
        </div>


        <div class="state">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            &nbsp;&nbsp;
            <Label ID="Label4" style="color:darkgreen ">STATES OF INDIA</Label>


            <Table ID="Table2" Style="margin: 23px; margin-left: 45px;" Width="1630">
                <tr style="color:lightsalmon ">
                    <td>Andhra Pradesh</td>
                    <td>Arunachal Pradesh</td>
                    <td>Assam</td>
                    <td>Bihar</td>
                    <td>Chhattisgarh</td>
                    <td>Goa</td>
                </tr>
                <tr style="color:lightsalmon ">
                    <td>Gujarat</td>
                    <td>Haryana</td>
                    <td>Himachal Pradesh</td>
                    <td>Jharkhand</td>
                    <td>Karnataka</td>
                    <td>Kerala</td>
                </tr>
                <tr style="color:lightsalmon ">
                    <td>Madhya Pradesh</td>
                    <td>Maharashtra</td>
                    <td>Manipur</td>
                    <td>Meghalaya</td>
                    <td>Mizoram</td>
                    <td>Nagaland</td>
                </tr>
                <tr style="color:lightsalmon ">
                    <td>Odisha</td>
                    <td>Punjab</td>
                    <td>Rajasthan</td>
                    <td>Sikkim</td>
                    <td>Tamil Nadu</td>
                    <td>Telangana</td>
                </tr>

                <tr style="color:lightsalmon ">
                    <td>Tripura</td>
                    <td>Uttar Pradesh</td>
                    <td>Uttarakhand</td>
                    <td>West Bengal</td>

                </tr>
            </Table>
            <br />
            <br />
            <br />


        </div>
        <div class="UNION">



            <Label ID="Label5" style="color:indigo ">UNION TERRITORIES</Label>


            <Table ID="Table3" Style="margin-bottom: 23px; margin-left: 45px;" Width="1630" Height="94">
                <tr style="color:lightcoral ">
                    <td>Andaman and Nicobar</td>
                    <td>Chandigarh</td>
                    <td>Dadra and Nagar Haveli</td>
                    <td>Daman and Diu</td>
                    <td>Delhi</td>
                    <td>Jammu and Kashmir</td>
                </tr>
                <tr style="color:lightcoral ">
                    <td>Ladakh</td>
                    <td>Lakshadweep</td>
                    <td>Puducherry Pradesh</td>
                </tr>
            </Table>
            <br />
            <br />
            <br />


        </div>

    </form>

</body>
</html>