@model Online_Tourism_Portal.Models.Registration

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <title> Registration </title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <form method="post" asp-action="Create">
        <div class="border p-3">
            <img src="~/css/img/regi.png" class="img" style="width:200px;border-radius:50%">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Name"><i class="fa fa-user"></i> UserName</label>
                        </div>
                        <div class="col-8">
                            <input class='in' asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Email"><i class="material-icons">email</i> Email</label>
                        </div>
                        <div class="col-8">
                            <input class='in' asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="phoneNo" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"><i class="fa fa-phone"> PhoneNo</i></label>
                        </div>
                        <div class="col-8">
                            <input class='in' asp-for="phoneNo" />
                            <span asp-validation-for="phoneNo" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Address" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"><i class="fa fa-map-marker">  Address</i></label>
                        </div>
                        <div class="col-8">
                            <input class='in' asp-for="Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Password" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"><i class="fa fa-lock">  Password</i></label>
                        </div>
                        <div class="col-8">
                            <input class='in' asp-for="Password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="cPassword" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"><i class="fa fa-lock">  Confirm Password</i></label>
                        </div>
                        <div class="col-8">
                            <input class='in' asp-for="cPassword" type="password" />
                            <span asp-validation-for="cPassword" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-8 offset-4 row">

                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Create" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;" />
                            </div>
                            <div class="col">
                                <a asp-action="Home" class="btn btn-success w-100" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"><i class="fas fa-sign-out-alt"></i> Back</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    @* Keep this empty *@
                </div>
            </div>
        </div>

    </form>
</body>
</html>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
